<% include ../partials/header %>
<div class="container">


    <div class="row">
        <h1 style="text-align: center"> <%=document.customer%> Network Document</h1>
        <div >
            <form action="/customers/<%= customer_id %>/network/<%= document._id %>?_method=PUT" id="edit_form" method="POST">
                <div class="form-group">
                    <textarea class="summernote" type="text"  name="document[text]" >
                            <%=document.text %>
                    </textarea>
                </div>
                <div class="form-group sticky">
                    <button type="button" class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#myModal">Submit</button>
            
                   
                </div>
            </form>
            
        </div>
        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%=document.customer%> Network Document</h4>
        </div>
        <div class="modal-body">
                Are you sure you want to save changes?
        </div>
        <div class="modal-footer sticky">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" onclick="edit_form_submit()" class="btn btn-primary" form="modal-details" >Save changes</button>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
<% include ../partials/footer %>

