<div class="container"> 
    <div class="row row-no-padding">
              <div class="col-md-12">
                     <h3 class="text-center"><%= customer.name %> Documents</h3>
                     <p class="text-center"><a href="/customers/<%= customer._id %>" >Search Customers</a></p>
            </div>    
    </div>     
    <div class="btn-group btn-group-justified" role="group">     
    <div class="row row-no-padding">
              <div class="col-md-4" id="network">
                     <a href="/customers/<%= customer._id %>/network" class="btn btn-primary btn-lg btn-block" role="button">Network Files</a>             
              </div>
              <div class="col-md-4" id="email">
                     <a href="/customers/<%= customer._id %>/email" class="btn btn-primary btn-lg btn-block" role="button">Email Files</a>             
              </div>
              <div class="col-md-4" id="password">
                     <a href="/customers/<%= customer._id %>/password" class="btn btn-primary btn-lg btn-block" role="button">Password Files</a>             
              </div>
    

</div>
</div>
    
              
                
                     
            
                     
    
     
     </div>